frontend/node_modules/
frontend/.vite/
/venv/
/sessions/
/uploaded_notes/
.env
/test_data/
.vscode/
.DS_Store

/backend/myenv/
/backend/__pycache__/
/backend/.mypy_cache/
/backend/sessions/
/backend/uploaded_notes/